body {
  margin: 0;
  padding: 0;
  background: #000;
  color: aliceblue;
  font-family: "Sekuya", serif;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('Hero.jpeg') center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 290px;
}

.hero-content {
  text-align: center;
  max-width: 500px;
}

.hero-title {
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 10px;
  font-weight: normal;
  letter-spacing: 2px;
}

.hero-linija {
  width: 60px;
  height: 1px;
  background: rgba(168, 146, 19, 0.6);
  margin: 20px auto;
}

.hero-btn {
  padding: 15px 40px;
  background: rgba(168, 146, 19, 0.8); 
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.8s ease;
}

.hero-btn:hover {
  background: rgba(203, 172, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: scale(1.10);
}

.main-header {
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  font-size: 30px;
  letter-spacing: 8px;
  font-weight: bold;
  color: rgb(168, 146, 19);
  text-align: center;
  text-transform: uppercase;
}

.nav-links a, .nav-meta a {
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
  margin: 0 15px;
}

.nav-links a:hover, .nav-meta a:hover {
  color: rgb(168, 146, 19);
}

.kategorije {
  display: flex;
  height: 500px;
  width: 100%;
  background: #000;
  gap: 1px;
}

.kartica {
  flex: 1; 
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: flex-end; 
  justify-content: center;
  padding-bottom: 40px;
}

.BgKartice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.8s ease;
  filter: brightness(0.6); 
}


.for-him { background-image: url('man.jpg'); }
.for-her { background-image: url('woman.jpg'); }
.unisex { background-image: url('unisex.jpg'); }


.Kinfo {
  position: relative;
  text-align: center;
}

.Kinfo h3 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
  font-weight: normal;
}


.kartica:hover .BgKartice {
  transform: scale(1.05); 
  filter: brightness(0.8);
}


